*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#begin, #begin2 ,#begin3 , #begin4{
   background-color: #15133C;
}

#begin5, #begin6, #begin7, #begin8, #begin9, #begin10, #begin11, #begin12{
     background-color: #73777B;
}

#penutup {
    background-color: #898121;
}
#konversi{
    background-color: #8DDFCB;
}

article{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    
    
}
article>#tabelapp{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-30%, -20%);
    
    
}

p {
    margin: 6px;
    padding: 30px;
    font-size: 25px;
    color: #ffffff;
}

h1 {
    font-size: 40px;
}

// --- pengaturan tabel ---
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
 
#tabelppp {
    display: flex;
    flex-direction: row;
}